---
- name: Install essential system tools
  ansible.builtin.apt:
    name:
      # Shells
      - zsh
      # Editors
      - vim
      - nano
      # Network tools
      - curl
      - wget
      - netcat-openbsd
      - net-tools
      - dnsutils
      - iputils-ping
      - traceroute
      - tcpdump
      - nmap
      - socat
      - telnet
      # Debugging tools
      - strace
      - lsof
      - gdb
      - htop
      - iotop
      - iftop
      - sysstat
      - procps
      # System utilities
      - tmux
      - tree
      - jq
      - unzip
      - rsync
      - less
    state: present
    update_cache: true

- name: Set zsh as default shell for clawdbot user
  ansible.builtin.user:
    name: "{{ clawdbot_user }}"
    shell: /usr/bin/zsh

- name: Install oh-my-zsh for clawdbot user
  ansible.builtin.shell:
    cmd: |
      sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
    creates: "{{ clawdbot_home }}/.oh-my-zsh"
    executable: /bin/bash
  become: true
  become_user: "{{ clawdbot_user }}"

- name: Add pnpm bin to PATH in .zshrc
  ansible.builtin.lineinfile:
    path: "{{ clawdbot_home }}/.zshrc"
    line: 'export PATH="{{ clawdbot_home }}/.local/bin:$PATH"'
    create: true
    owner: "{{ clawdbot_user }}"
    group: "{{ clawdbot_user }}"
    mode: '0644'
